body {
  height: 100%;
  background: #D9D0C3;
}


/*//////////////////////////HEADER*/

header {
  height: 20%;
  overflow: auto;
  margin-left: 10%;
  margin-right: 10%;
}

h1 {
  font-size: 150%;
  margin-left: 70%;
}


/*//////////////////TOP IMAGES*/

div {
  float: left;
}

.images {
  width: 130px;
  height: 65%;
  mix-blend-mode: multiply;
}

img {
  margin-left: 10%;
}

figcaption {
  width: 100%;
  text-align: center;
}


/*section headers*/

#main {
  margin-left: 10%;
  margin-right: 10%;
}

h2 {
  font-size: 150%;
}

#container {
  overflow: auto;
}

#left {
  width: 67%;
  float: left;
}

#right {
  width: 30%;
  float: left;
}

#result {
  height: 10%;
  font-size: 150%;
  text-align: center;
  margin-top: 15%;
}


/*/*row 1*/

#you-image {
  height: 150px;
  border: 1px solid black;
}

#you {
  font-size: 150%;
  text-align: center;
  margin-top: 1%;
  border: 1px solid black;
}


/*row 2*/

#opponent-image {
  height: 130px;
  border: 1px solid black;
}

#opponent {
  margin-top: 1%;
  font-size: 130%;
  text-align: center;
  border: 1px solid black;
}

#remainder-image {
  height: 130px;
  border: 1px solid black;
}

#remainder {
  margin-top: 1%;
  font-size: 150%;
  text-align: center;
  border: 1px solid black;
}

button {
  background: #4A4042;
  border-radius: 25px;
  color: #D9D0C3;
  display: block;
  margin: 20px auto;
  padding: 30px;
  border: 1px solid black;
  font-size: 150%;
}